<div class="alert alert-danger alert-dismissible fade show hideAfter3Sec ajaxError" role="alert">
    <strong class="text text-center">Some error occured while loading data.</strong>
    <button style="margin-top: 5px; background-color: transparent !important;" type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
