<div class="col-2 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar" style="background-color: white !important">
    <ul class="nav flex-column flex-nowrap overflow-hidden">
        <li class="nav-item" style="background-color: #F5F5F5; width: 400px;">

            <a class="nav-link text-truncate mylink" href="/Creator/Index" style="color: black;"> <i class="fa fa-home"></i>   <span class="d-none d-sm-inline" style="color: black;"> Dashboard</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-truncate mylink" href="/Creator/VideoTable" style="color:black"><i class="bi bi-camera-video-fill"></i>  Videos</a>
        </li>
        <li class="nav-item"><a class="nav-link text-truncate mylink" href="/Creator/AddCampaignView" style="color:black"><i class="fas fa-rocket"></i> <span class="d-none d-sm-inline" style="color:black">Campaigns</span></a></li>
        <li class="nav-item"><a class="nav-link text-truncate mylink" href="/Creator/AddAsset" style="color:black"><i class="bi bi-youtube"></i> <span class="d-none d-sm-inline" style="color:black">Media</span></a></li>
        <li class="nav-item"><a class="nav-link text-truncate mylink" href="/Template/TemplateList" style="color:black"><i class="bi bi-ui-checks-grid"></i> <span class="d-none d-sm-inline" style="color:black">Template</span></a></li>


    </ul>
</div>
