
<div class="col-2 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar">
    <ul class="nav flex-column flex-nowrap overflow-hidden">

        <li class="nav-item">
            <a class="nav-link text-truncate" href="~/Admin/Index" id="sidetext" style="color:white"><i class="fa fa-home" style="color:white"></i>  Dashboard</a>

        </li>
        <li class="nav-item" style="background-color: #F5F5F5; width: 400px;">

            <a class="nav-link text-truncate" id="sidetext" href="~/Admin/CreatorsList" style="background-color: #F5F5F5;width:400px;color:black;"> <i class="bi bi-person-fill"></i>   <span class="d-none d-sm-inline" id="sidetext" style="color: black;"> Content Creators</span></a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-truncate" href="~/Admin/ViewerList" id="sidetext" style="color:white"><i class="bi bi-person-fill" style="color:white"></i>  Viewers</a>
        </li>
    </ul>
</div>
