<link rel="stylesheet" href="~/css/StepBar.css" />
<div id="wrapper" style="float:top; margin: 1px;">
    <br>
    <span class='baricon'>1</span>
    <span id="bar1" class='progress_bar'></span>
    <span class='baricon'>2</span>
    <span id="bar2" class='progress_bar'></span>
    <span class='baricon'>3</span>
</div><br /><br />
