@using Neosoft.FAMS.Application.Features.Video.Queries.GetAll;

@{
    ViewData["Title"] = "VideoList";
    var records = (List<VideoGetAllDto>)ViewData["data"];
}
<table id="myTable" class="table table-sm table-hover">
    <tbody>


        @foreach (var record in records)
        {
            <tr>
                <td>
                    <div class="row m-4">
                        <div class="col"><img class=" mt-4 ml-4 rounded-3" src="/Uploads/Creators/Videos/@record.VideoImage" style="height: 150px; width: 220px;" /></div>
                        <div class="col mr-5 ">
                            <div class="form-group">
                                <label class="font-weight-bold">Title</label>
                                <input class="form-control" type="text" value="@record.Title" placeholder="Diwali Ads" readonly />
                            </div>
                            <div class="form-group">
                                <label class="font-weight-bold">Description</label>
                                <textarea class="form-control" type="text" placeholder="This is my video description" readonly>@record.Decription</textarea>
                            </div>
                        </div>
                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>