<head>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="~/css/Error500.css" rel="stylesheet" />
</head>
<div class="page-404">
    <div class="outer">
        <div class="middle">
            <div class="inner">
                <!--BEGIN CONTENT-->
                <div class="inner-circle"><i class="fa fa-cogs"></i><span>401</span></div>
                <span class="inner-status">Opps! Unauthorized Access!</span>
                <span class="inner-detail">Sorry you are not authorized for the page you are looking for. Please do login first.</span>
                <!--END CONTENT-->
            </div>
        </div>
    </div>
</div>