.btnLoginSignIn {
    color: cornflowerblue;
    height: 80px;
}

.mylink {
    border: none;
    outline: none;
    padding: 10px 16px;
    background-color: #ffffff;
    cursor: pointer;
}

.myactive, .mylink:hover {
    background-color: #6b6963;
    color: white;
}

.menu-btn {
    color: white;
    font-weight: bolder;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: none;
    float: left;
    background-color: white;
    overflow: hidden;
}

.dropdown-menu {
    position: relative;
    display: inline-block;
    border-style: none;
    float: left;
}

.menu-content {
    display: none;
    float: left;
    overflow: hidden;
    position: absolute;
    width: 80px;
    border-radius: 5px;
    color: #ffffff;
    background-color: #52BAF1;
    z-index: 1;
}

.links, .links-hidden {
    display: inline-block;
    color: rgb(255, 255, 255);
    padding: 5px 5px;
    text-decoration: none;
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}

.links-hidden {
    display: block;
}

.dropdown-menu:hover .menu-content {
    display: block;
}
