﻿@import url('https://fonts.googleapis.com/css?family=Poppins');
/* BASIC */
html {
    /*background-color: #56baed;*/
    background-color: #F5F5F5;
}

body {
    font-family: "Poppins", sans-serif;
    height: 100vh;
    /*background-color: #56baed;*/
}

#nav {
    background-color: #56baed;
}

a {
    color: black;
    display: inline-block;
    text-decoration: none;
    font-weight: 400;
}

h2 {
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #cccccc;
}

h5 {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    display: inline-block;
    margin: 40px 8px 10px 8px;
    color: #FFFFFF;
}

.container p {
    color: #FFFFFF
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset] {
    background-color: #56baed;
    border: none;
    color: white;
    padding: 15px 30px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    text-transform: uppercase;
    font-size: 13px;
    /* -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);*/
    box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
    -webkit-border-radius: 5px 5px 5px 5px;
    border-radius: 5px 5px 5px 5px;
    margin: 15px 20px 0px 30px;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover {
        background-color: dodgerblue;
    }

    input[type=button]:active, input[type=submit]:active, input[type=reset]:active {
        -moz-transform: scale(0.95);
        -webkit-transform: scale(0.95);
        -o-transform: scale(0.95);
        -ms-transform: scale(0.95);
        transform: scale(0.95);
    }

.card {
    /*background-color: #56baed;*/
}

#containercontact {
    background-color: white;
    border-radius: 10px 10px 10px 10px;
    margin-bottom: 5px
}

#contact-us {
    background-color: #39ace7;
}

.contact-info {
    margin-top: 10%;
}

    .contact-info img {
        margin-bottom: 15%;
    }

    .contact-info h2 {
        margin-bottom: 10%;
    }

.contact-form label {
    font-weight: 600;
}

.contact-form button {
    background: #56baed;
    color: #fff;
    font-weight: 600;
    width: 25%;
}

    .contact-form button:focus {
        box-shadow: none;
    }

.col-md-9 {
    background: #fff;
    padding: 3%;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.col-md-3 {
    background: #ff9b00;
    padding: 4%;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
}

.contact-info h2 {
    color: white;
}

.contact-info h4 {
    color: white;
}



.nav-link[data-toggle].collapsed:after {
    content: " ▾";
}

.nav-link[data-toggle]:not(.collapsed):after {
    content: " ▴";
}

p {
    font-size: 12px;
}

input[type=text] {
    width: 500px;
}

#txt_desc {
    height: 200px;
    width: 500px;
}

#txt_VideoURL, #selectVideo {
    width: 500px;
}

#btnCancel, #btnProceed {
    width: 230px;
    text-align: center;
}

#sidebar {
    background-color: #56baed;
    color: white;
    border: 1px solid white;
}

#navbarTogglerDemo03 {
    color: white;
}




[name=text_white] {
    color: white;
}

#sidebar > a:hover {
    background-color: dodgerblue;
}

#try > a > input[type=button] {
    background-color: #56baed;
    width: 210px;
    color: black;
    text-align: left;
}

#try2 > a > input[type=button] {
    background-color: #56baed;
    width: 200px;
    color: black;
    text-align: center;
}

#foot, #head{
    display:flex;
    flex-direction:column;
}

footer{
    margin-top:auto;
}

#try > a {
    color:black;
}

