@using Neosoft.FAMS.Application.Features.Campaign.Queries.GetAll
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "ExistingCampaign";
    var records = (List<CampaignGetAllDto>)ViewData["data"];
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <script src="~/js/AddVideo.js"></script>


    <style>
        table,
        thead,
        tr,
        tbody,
        th,
        td {
            text-align: center;
        }

        .table td {
            text-align: center;
        }
    </style>
</head>

<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        <div class="col-2 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden">
                <li class="nav-item" width: 400px;"><a class="nav-link text-truncate" href="#" style="color:white"><i class="fa fa-home" style="color:white;"></i><span class="d-none d-sm-inline" id="sidetext" style="color: white;">  DashBoard</span></a> </li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/VideoTable" id="sidetext" style="color:white"><i class="bi bi-camera-video-fill" style="color:white"></i>  Videos</a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddCampaignView" id="sidetext" style="background-color: #F5F5F5;width:400px;color:black;"><i class="fas fa-rocket" style="color:black"></i> <span class="d-none d-sm-inline" id="sidetext" style="color: black;">Campaigns</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddAsset" id="sidetext" style="color:white"><i class="bi bi-youtube" style="color:white"></i> <span class="d-none d-sm-inline" id="sidetext" style="color:white">Media</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" id="sidetext" style="color:white"><i class="bi bi-ui-checks-grid" style="color:white"></i> <span class="d-none d-sm-inline" id="sidetext" style="color:white">Template</span></a></li>
            </ul>
        </div>
        <div class="col pt-2">
            <br /><br />
            <div id="try" style="display:flex">
                <div>
                    <a href="~/Creator/AddCampaignView"><label onclick="newCampaign()">Create New Campaign</label></a>&emsp;&emsp;
                    <a><label style="text-decoration:underline; color: dodgerblue ">Select Existing Campaign</label></a>
                </div>

            </div>
            <div id="existingCampaign">
                <div class="col pt-2" id="existingCamp" style="display:none">
                    <input type="text" class="form-control mb-2 mr-sm-2" id="txt_campaignName" placeholder="Search">
                    <input type="button" value="Create New Campaign">
                </div>
            </div>
            <div style="margin-top: 20px;">
                <table id="myTable" class="table table-bordered table-sm table-hover">
                    <thead style="background-color: #56baed;color:white;">
                    <tr>
                        <th>Campaign ID</th>
                        <th>Campaign Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </thead>
                    <tbody>
                    @foreach (var record in records)
                    {
                        <tr>
                            <td>@record.CampaignId</td>
                            <td>@record.CampaignName</td>
                            <td>@record.StartDate</td>
                            <td>@record.EndDate</td>
                        </tr>
                    }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
