@using Neosoft.FAMS.Application.Features.Advertisement.Queries.GetAll;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "ExistingCampaign";
    var records = (List<AdvertisementListQueryDto>)ViewData["data"];
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <script src="~/js/AddVideo.js"></script>
    <style>
        table,
        thead,
        tr,
        tbody,
        th,
        td {
            text-align: center;
        }

        .table td {
            text-align: center;
        }
    </style>
</head>

<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        <div class="col-2 collapse show d-md-flex pt-2 pl-0 min-vh-100" id="sidebar">
            <ul class="nav flex-column flex-nowrap overflow-hidden">
                <li class="nav-item" width: 400px;"><a class="nav-link text-truncate" href="~/Creator/Index" style="color:white"><i class="fa fa-home" style="color:white;"></i><span class="d-none d-sm-inline" id="sidetext" style="color: white;">  DashBoard</span></a> </li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/VideoTable" id="sidetext" style="color:white"><i class="bi bi-camera-video-fill" style="color:white"></i>  Videos</a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddCampaignView" id="sidetext" style="background-color: #F5F5F5;width:400px;color:black;"><i class="fas fa-rocket" style="color:black"></i> <span class="d-none d-sm-inline" id="sidetext" style="color: black;">Campaigns</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="~/Creator/AddAsset" id="sidetext" style="color:white"><i class="bi bi-youtube" style="color:white"></i> <span class="d-none d-sm-inline" id="sidetext" style="color:white">Media</span></a></li>
                <li class="nav-item"><a class="nav-link text-truncate" href="#" id="sidetext" style="color:white"><i class="bi bi-ui-checks-grid" style="color:white"></i> <span class="d-none d-sm-inline" id="sidetext" style="color:white">Template</span></a></li>
            </ul>
        </div>
        <div class="col pt-2">
            <br /><br />
            <div class="row header" style="text-align: left; color: #56baed">
                <h3>Select Existing Assets</h3>
            </div>
            <div style="margin-top:20px;">
                <table id="myTable" class="table table-bordered table-sm table-hover">
                    <thead style="background-color: #56baed;color:white;">
                        <tr>
                            <th>Asset ID</th>
                            <th class="no-sort">Thumbnail Image</th>
                            <th>Asset Title</th>
                            <th>Start Date</th>
                            <th>End Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in records)
                        {
                            if (!(bool)@record.IsDeleted)
                            {
                                <tr>
                                    <td>@record.AdvertisementId</td>
                                    <td><img src="~/Uploads/Creators/Videos/@record.ImagePath" alt="profile" style="height: 50px; width: 50px;" class="rounded-circle"/></td>
                                    <td>@record.Title</td>
                                    <td>@record.StartDate</td>
                                    <td>@record.EndDate</td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <div style="float:right;">
                <button class="btn btn-secondary">Previous</button>
                <button class="btn btn-primary">Proceed</button>
            </div>
            <script>
                $(document).ready(function () {
                    $('#myTable').dataTable({
                        "columnDefs": [{ targets: 'no-sort', orderable: false }]
                    });
                    console.log(1);
                });
            </script>
        </div>
    </div>
</div>
