@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isTrue = Convert.ToBoolean(ViewData["isTrueCredentials"]);
}

<head>
    <link rel="stylesheet" href="~/css/temp2.css" />
    <link rel="stylesheet" href="~/css/Login.css" />

</head>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Forgot Password? </h2>


        <!-- Login Form -->
        @using (Html.BeginForm("CheckOtp", "Login", FormMethod.Post))
        {
            if (isTrue)
            {
                <div class="alert alert-danger alert-dismissible fade show hideAfter3Sec" role="alert">
                    <strong>Otp is Invalid</strong> 
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <label id="lbl" class="form-group required">
                OTP<sup style="color:red">*</sup>
            </label>
            <input type="text" class="fadeIn second" required name="Otp" placeholder="Enter OTP">
            <input type="submit" class="fadeIn fourth" value="Submit">
        }

    </div>
</div>
