@model Login;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isMatchTrue = Convert.ToBoolean(ViewData["isMatching"]);
}
<head>
    <link rel="stylesheet" href="~/css/temp2.css" />
    <link rel="stylesheet" href="~/css/ResetPassword.css" />
    <script>
        var check = function () {
            if (document.getElementById('password').value == "" && document.getElementById('confirm_password').value ==""){
                document.getElementById('message').style.display = 'none';
            }
            else if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Password and Confirm password is matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Password and Confirm password is not matching';
            }
        }
        $(document).ready(function() {
            var newPassoword = $('#newPasswordValue').val();
            $(`#password`).val(newPassoword);
            var confirmPassoword = $('#confirmPasswordValue').val();
            $(`#confirm_password`).val(confirmPassoword);
        });
    </script>
    <style>
        label span {
            font-size: 12px;
        }
    </style>
</head>
<div class="wrapper">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Reset Password </h2>


        <!-- Login Form -->
        @using (Html.BeginForm("ForgotPassword", "Login", FormMethod.Post))
        {
            <input type="hidden" id="newPasswordValue" value="@ViewData["newPassword"]" />
            <input type="hidden" id="confirmPasswordValue" value="@ViewData["confirmPassword"]" />
            if (isMatchTrue)
            {
                <div class="alert alert-danger alert-dismissible fade show hideAfter3Sec" role="alert">
                    <strong>Confirm password is not matching.</strong> 
                    <button style="margin-top: 5px; background-color: transparent !important;" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <label id="lbl" class="form-group required">
                New Password<sup style="color:red">*</sup>
                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
            </label>
            <input asp-for="Password" type="password" class="fadeIn third" name="Password" id="password" onkeyup='check();' placeholder="New password">

            <label id="lbl" class="form-group required">
                Re-Password<sup style="color:red">*</sup>
                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
            </label>
            <input asp-for="confirmPassword" type="password" class="fadeIn fourth" name="confirmPassword" id="confirm_password" onkeyup='check();' placeholder="Confirm password">
            <div><span id='message'></span></div>

            <input style="margin-top: 30px;" type="submit" class="btn btn-primary" id="btnProceed" value="Reset">
        }

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

