@model Login;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <style>
        label span {
            font-size: 12px;
        }
    </style>
</head>

<div class="wrapper fadeInDown">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Sign In </h2>


        <!-- Login Form -->
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <label id="lbl" class="form-group required">
                Username<sup style="color:red">*</sup>
                @Html.ValidationMessage("Username", "", new { @class = "text-danger" })
            </label>
            <input asp-for="Username" type="text" class="fadeIn second" name="Username" placeholder="Username">

            <label id="lbl" class="form-group required">
                Password<sup style="color:red">*</sup>
                @Html.ValidationMessage("Password", "", new { @class = "text-danger" })
            </label>
            <input asp-for="Password" type="password" class="fadeIn third" name="Password" placeholder="Password">

            <input type="submit" class="fadeIn fourth" value="Log In">
        }

        <!-- Remind Passowrd -->
        <div id="formFooter">
            <a class="underlineHover" style="color:black" href="~/Login/SendOtp">Forgot Password?</a>
        </div>

    </div>
</div>