@using Neosoft.FAMS.WebApp.Models.LoginModel.ResetPassword;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
    <link rel="stylesheet" href="~/css/temp2.css" />
    <link rel="stylesheet" href="~/css/ResetPassword.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script>
        var check = function () {
            if (document.getElementById('password').value ==
                document.getElementById('confirm_password').value) {
                document.getElementById('message').style.color = 'green';
                document.getElementById('message').innerHTML = 'Password and Confirm password is matching';
            } else {
                document.getElementById('message').style.color = 'red';
                document.getElementById('message').innerHTML = 'Password and Confirm password is not matching';
            }
        }
    </script>
</head>
<div class="wrapper">
    <div id="formContent">
        <!-- Tabs Titles -->
        <h2 class="active"> Reset Password </h2>


        <!-- Login Form -->
        @using (Html.BeginForm("ResetPassword", "Login", FormMethod.Post))
        {
            <input type="password" class="fadeIn second" name="oldPassword" placeholder="Old password">
            <input type="password" class="fadeIn third" name="newPassword" id="password" onkeyup='check();' placeholder="New password">
            <input type="password" class="fadeIn fourth" name="Password" id="confirm_password" onkeyup='check();' placeholder="Confirm password">
            <div><span id='message'></span></div>

            <input type="submit" class="fadeIn fifth" value="Reset">
        }

    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
