@model Login;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/temp2.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <style>
        label span {
            font-size: 12px;
        }
    </style>
</head>
<div class="wrapper">
    <div id="formContent">
        <!-- Tabs Titles -->
        <a href="~/Login/Index" class="active float-left" style="margin:20px 0px 0px 8px;"><i class="fas fa-angle-left"></i> Back</a>
        <br/>
        <div>
            <h2 class="active text-capitalize" style="margin-right: 40px;">Forgot password ?</h2>
        </div>


        <!-- Login Form -->
        @using (Html.BeginForm("SendOtp", "Login", FormMethod.Post))
        {
            <label id="lbl" class="form-group required">
                Username<sup style="color:red">*</sup>
                @Html.ValidationMessage("Username", "", new { @class = "text-danger" })
            </label>
            <input asp-for="Username" type="text" class="fadeIn second" name="Username" placeholder="Enter Username">
            <input type="submit" class="fadeIn fourth" value="Send OTP">
        }

    </div>
</div>
