@model Login;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var isTrue = Convert.ToBoolean(ViewData["isTrueCredentials"]);
}

<head>
    <link rel="stylesheet" href="~/css/temp2.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
    <style>
        label span {
            font-size: 12px;
        }
    </style>
</head>
<div class="wrapper">
    <div id="formContent">
        <!-- Tabs Titles -->
        <a href="~/Login/Index" class="active float-left" style="margin:20px 0px 0px 8px;"><i class="fas fa-angle-left"></i> Back</a>
        <br/>
        <div>
            <h2 class="active text-capitalize" style="margin-right: 40px;">Forgot password ?</h2>
        </div>


        <!-- Login Form -->
        @using (Html.BeginForm("SendOtp", "Login", FormMethod.Post))
        {
            if (isTrue)
            {
                <div class="alert alert-danger alert-dismissible fade show hideAfter3Sec" role="alert">
                    <strong>Username is Invalid</strong> 
                    <button style="margin-top: 5px; background-color: transparent !important;" type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
            }
            <label id="lbl" class="form-group required">
                Username<sup style="color:red">*</sup>
                @Html.ValidationMessage("Username", "", new { @class = "text-danger" })
            </label>
            <input asp-for="Username" type="text" class="fadeIn second" name="Username" placeholder="Enter Username">
            <input style="margin-top: 30px;" type="submit" class="btn btn-primary" id="btnProceed" value="Send OTP">
        }

    </div>
</div>
