@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <style>
        img {
            height: 220px;
            width: 250px;
        }
        #centreImg {
            height: 460px;
            width: 200px;
        }
        #centreImg1 {
            height: 460px;
            margin-left: 200px;
            width: 500px;
        }
        .imgW {
            width: 520px;
        }
       
    </style>
</head>
<div id="template-1" >
    <div class="container pt-4 ">
        <div class="row pt-4 pr-2 border border-dark">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img 
                    src="/Uploads/Creators/Images/1185912a-2478-47ab-95c9-d8ed94358969_img3.jfif"
                    class="w-100 shadow-1-strong rounded ml-2 mb-4"
                    alt=""
                />

                <img
                    src="/Uploads/Creators/Images/25baf1d8-e8b5-4c7f-a3f3-b09cc538c797_img1.jfif"
                    class="w-100 shadow-1-strong rounded ml-2 mb-4" 
                    alt=""
                />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">

                <img id="centreImg"
                     src="/Uploads/Creators/Images/06479d63-0677-47e8-8d60-0fbd033b7874_img2.jpg"
                     class="w-100 shadow-1-strong rounded mb-4"
                     alt=""
                />
            </div>

            <div class="col-lg-4 mb-4 mb-lg-0">
                <img
                    src="/Uploads/Creators/Images/35b34c9a-aebb-48bc-b623-e455c95f45bc_Ganesha.jpg"
                    class="w-100 shadow-1-strong rounded  mb-4"
                    alt=""
                />

                <img
                    src="/Uploads/Creators/Images/25baf1d8-e8b5-4c7f-a3f3-b09cc538c797_img1.jfif"
                    class="w-100 shadow-1-strong rounded mb-4  "
                    alt=""
                />
            </div>
        </div>
    </div>
</div>

<div id="template-2">
    <div class="container pt-4 ">
        <div class="row pt-4 pr-3 pl-3 border border-dark">
            <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                <img 
                    src="/Uploads/Creators/Images/1185912a-2478-47ab-95c9-d8ed94358969_img3.jfif"
                    class="w-100 shadow-1-strong rounded ml-2 mb-4 imgW"
                    alt=""
                />

                <img
                    src="/Uploads/Creators/Images/25baf1d8-e8b5-4c7f-a3f3-b09cc538c797_img1.jfif"
                    class="w-100 shadow-1-strong rounded ml-2 mb-4 imgW" 
                    alt=""
                />
            </div>

            <div class="col-lg-4 mb-4 mr-4 mb-lg-0">

                <img id="centreImg1"
                     src="/Uploads/Creators/Images/06479d63-0677-47e8-8d60-0fbd033b7874_img2.jpg"
                     class="w-100 shadow-1-strong rounded mb-4 imgW"
                     alt=""
                />
            </div>

        </div>
    </div>
</div>

