@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link rel="stylesheet" href="~/css/Viewer/VideoPlayer.css" />
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
</head>
<div id="VideoSection">
    <video id="my-video"
           class="video-js"
           controls
           preload="auto"
           width="1024"
           height="464"
           poster="/Uploads/Creators/Videos/009d0183-b484-4fbb-aa50-b66f84e15ede_img2.jpg"
           data-setup="{}">
        <source src="/Uploads/ab.mp4" />


        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>



    <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>

</div>
<div id="DetailSection">
    <h5><b>The Canadian Open At Hamilton Golf And Country Club</b></h5>
    <h6>23456788 Views</h6>
</div>
<br />

<div id="ButtonSection" class="row">
    <div class="col-1"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-up"></span>Like</button></div>
    <div class="col-1"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-thumbs-down"></span> Dislike</button></div>
    <div class="col-2"><button type="button" class="btn btn-primary"><span class="glyphicon glyphicon-share"></span> Share</button></div>
    <div class="col-3">
        <span id="Auto"><b>Auto Next</b></span>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </div>

</div>
<br />
<div class="row border" id="DescSection">
    <div class="col-1">
        <img src="~/DefaultPhotos/default_profile.png" alt="Avatar" style="width: 80px;">
    </div>
    <div class="col-2">
        <h5><b>CBS Sports</b></h5>
        <h6>156 Videos</h6>
        <h6>Published 06.24.2019</h6>
    </div>

    <div class="col-4 border">
        <p>
            Golf is a club-and-ball sport in which players use various clubs to hit balls into a series of holes on a course in as few strokes as possible.
            Golf, unlike most ball games, cannot and does not utilize a standardized playing area,
        </p>
    </div>
</div>