@using Neosoft.FAMS.Application.Features.Video.Queries.GetAll;
@using Neosoft.FAMS.Application.Features.ContentCreator.Queries.GetAll;

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    var videoRecords = (VideoGetAllDto)ViewData["videoData"];
    var creatorRecords = (ContentCreatorDto)ViewData["creatorData"];
    var profilePicture = "";
}

<head>

    <link rel="stylesheet" href="~/css/Viewer/VideoPlayer.css" />
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />

</head>
<div id="VideoSection">
    <video id="my-video"
           class="video-js"
           controls
           preload="auto"
           width="1024"
           height="464"
           poster="/Uploads/Creators/Videos/@videoRecords.VideoImage"
           data-setup="{}">
        <source src="/Uploads/Creators/Videos/@videoRecords.UploadVideoPath" />


        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>



    <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>

</div>
<div id="DetailSection">
    <h4>@videoRecords.Title</h4>
    <h6>23456788 Views</h6>
</div>
<br />

<div id="ButtonSection" class="row">
    <div class="col-6">
        <button type="button" class="btn btn-primary"><span class="fa fa-thumbs-o-up"></span>Like</button>&emsp;&emsp;
        <button type="button" class="btn btn-primary"><span class="fa fa-thumbs-o-down"></span> Dislike</button>&emsp;&emsp;
        <button type="button" class="btn btn-primary"><span class="fa fa-share share"></span> Share</button>
    </div>

    <div class="col-3">
        <span id="Auto"><b>Auto Next</b></span>
        <label class="switch">
            <input type="checkbox" checked>
            <span class="slider round"></span>
        </label>
    </div>

</div>
<br />
<div class="row border" id="DescSection">
    <div class="col-1">
        @{ if (creatorRecords.ProfilePhotoPath == null)
                profilePicture = "~/DefaultPhotos/default_profile.png";
            else
                profilePicture = "~/Uploads/Creators/Images/" + creatorRecords.ProfilePhotoPath;

        }
        <img src=@creatorRecords.ProfilePhotoPath alt="Avatar" style="width: 80px;">
    </div>
    <div class="col-2">
        <h4><b>@creatorRecords.CreatorName</b></h4>
        <h6> Videos</h6>
        <h6>Published On : @videoRecords.CreatedOn</h6>
    </div>

    <div class="col-4 border">
        <p>
            @videoRecords.Decription
        </p>
    </div>
</div>