@{

    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link href="https://vjs.zencdn.net/7.15.4/video-js.css" rel="stylesheet" />

    
</head>

<body>
    <video id="my-video"
           class="video-js"
           controls
           preload="auto"
           width="900"
           height="264"
           poster="/Uploads/Creators/Videos/009d0183-b484-4fbb-aa50-b66f84e15ede_img2.jpg"
           data-setup="{}" autoplay>
        <source src="@Url.Content("~/Uploads/Creators/Videos/03d7db85-d73a-4c0c-b6ab-0a9637642dbf_i12.mp4")" type="video/mp4" />
        <source src="#" type="video/webm" />
        
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>

    

    <script src="https://vjs.zencdn.net/7.15.4/video.min.js"></script>
</body>