@using Neosoft.FAMS.Application.Features.Template.Queries
@using Neosoft.FAMS.WebApp.Services;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Add New Template";
    bool isDeleted = Convert.ToBoolean(ViewData["isDelete"]);

}
<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/Admin/CreatorList.css" rel="stylesheet" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />

    <style>
        #deleteTag:hover {
            color: #56baed;
            cursor: pointer;
        }

        .border-dark {
            border: 3px solid grey !important;
            box-shadow: grey 0.4em 0.5em 0.5em;
        }

        .templateImg:hover {
            border: 3px solid grey;
        }

        .ml-5 {
            margin-left: 120px !important;
        }

        .bord {
            border: 3px solid grey;
        }
    </style>
</head>

<div class="container-fluid">

    <div class="row" style="background-color: #F5F5F5;">
        @Html.Partial("_CreatorSideBar")
        <div class="col pt-2">
            <h3>Select Template</h3>
            <div class="mt-3">
                <div class="container">
                    <div class="row">
                        <div class="col ml-4">
                            <img id="img1" class="templateImg" src="~/DefaultPhotos/Template-1.png" style="height:200px;width:300px;" /><br />
                            <button id="btn1" onclick="changeTxt(this)" data-t class="font-weight-bold ml-5 mt-2 btn btn-outline-primary">Select</button>
                        </div>
                        <div class="col ml-4">
                            <img id="img2" class="templateImg" src="~/DefaultPhotos/Template-2.png" style="height:200px;width:300px;" /><br />
                            <button id="btn2" onclick="changeTxt(this)" class="font-weight-bold ml-5 mt-2 btn btn-outline-primary">Select</button>
                        </div>
                    </div>
                </div>
                <div id="sectionDiv" class="container mt-4">

                </div>
                <div class="row float-right">
                    <div class="col">
                        <button class=" btn btn-dark ">Cancel</button>
                    </div>
                    <div class="col">
                        <button class=" mr-5 btn btn-primary ">Proceed</button>
                    </div>
                </div>
            </div>
        </div><br />
       
    </div>
</div>
<script src="~/js/AddTemplate.js"></script>
<script src="~/js/creatorSideBar.js"></script>


    
