@using Neosoft.FAMS.Application.Features.Template.Queries
@using Neosoft.FAMS.WebApp.Services;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Template List";
    var records = (List<TemplateListDto>)ViewData["data"];
    bool isDeleted = Convert.ToBoolean(ViewData["isDelete"]);

}

<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/Admin/CreatorList.css" rel="stylesheet" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />

    <style>
        #deleteTag:hover {
            color: #56baed;
            cursor: pointer;
        }
    </style>
</head>

<div class="container-fluid">

    <div class="row">
        @Html.Partial("_CreatorSideBar")
        <div class="col pt-2 col-10">
            <div class="row">
                <div class="col-6">
                    <h3 class="ml-1 mt-4 text-left" style="color: #8b8b8b;">
                        Template List
                    </h3>
                </div>
            </div>

            <div id="tbl" style="margin-top: 15px">
                @if (@isDeleted)
                {
                    <div class="alert alert-success alert-dismissible fade show" role="alert">
                        <strong>Template Deleted Successfully</strong>
                        <button style="margin-top: 10px; background-color: transparent !important;" type="button" class="close" data-dismiss="alert" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                }
                <table id="myTable" class="table table-sm table-hover">
                    <thead>
                        <tr class="heading">
                            <th>Template ID</th>
                            <th>Template Name</th>
                            <th>Publish Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var record in records)
                        {
                            <tr>
                                <td>@record.TemplateId</td>
                                <td><a href="~/Template/TemplateDetail/@record.TemplateId">@record.TemplateName</a></td>
                                @if (record.PublishStatus == true)
                                {
                                    <td style="color: limegreen">Live</td>
                                }
                                else
                                {
                                    <td style="color: red">Draft</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        </div>
    </div>
</div>
@section Scripts{

    <script src="~/js/creatorSideBar.js"></script>
    <script>
        function deleteCreator(hrefLink) {
            console.log(hrefLink);
            var element = document.getElementById("hrefElement");
            console.log(element);
            element.href = hrefLink.toLocaleString();
        }
    </script>
}
