@using Neosoft.FAMS.Application.Features.Template.Queries
@using Neosoft.FAMS.WebApp.Services;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewData["Title"] = "Template Detail";
    var records = (TemplateListDto)ViewData["data"];
    bool isDeleted = Convert.ToBoolean(ViewData["isDelete"]);

}
<head>
    <link rel="stylesheet" href="~/css/temp.css" />
    <link href="~/css/Admin/CreatorList.css" rel="stylesheet" />
    <link href="~/css/datatablestyle.css" rel="stylesheet" />

    <style>
        #deleteTag:hover {
            color: #56baed;
            cursor: pointer;
        }
        .border-dark {
            border: 3px solid grey !important;
            box-shadow: grey 0.4em 0.5em 0.5em ;
        }
        #templateImg:hover {
            border: 5px dashed #56baed;
        }
    </style>
</head>

<div class="container-fluid">

    <div class="row">
        @Html.Partial("_CreatorSideBar")
        <div class="col pt-2">
            <div class="row">
                <div class="col-6">
                    <h3 class="ml-1 mt-4 text-left" style="color: #8b8b8b;">
                        Template Detail
                    </h3>
                </div>
            </div>
            <div>
                <div class="container">
                    @if (@records.TemplateType == 1)
                    {
                        <h2 class="text-info">Selected Template :-</h2><br />
                        <img id="templateImg" src="/DefaultPhotos/Template-1.PNG" style="height: 300px; width: 300px;" />
                    }
                    else
                    {
                        <h2 class="text-info">Selected Template :-</h2><br />
                        <img id="templateImg" src="/DefaultPhotos/Template-2.PNG" style="height: 300px; width: 300px;" />
                    }
                </div>
                <div class="container">
                    @if (@records.TemplateType == 1)
                    {
                        <h3 class="text-center">Section 1</h3>
                        <div class="row m-4 border border-dark">
                            <div class="col"><img class=" mt-4 ml-4 rounded-3" src="/Uploads/Creators/Images/06479d63-0677-47e8-8d60-0fbd033b7874_img2.jpg" style="height: 150px; width: 220px;" /></div>
                            <div class="col mr-5 ">
                                <div class="form-group">
                                    <label class="font-weight-bold">Title</label>
                                    <input style="width:100%;" class="form-control" type="text" value="" placeholder="Diwali Ads" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Description</label>
                                    <textarea class="form-control" type="text" placeholder="This is my video description" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <h3 class="text-center">Section 2</h3>
                        <div class="row m-4 border border-dark">
                            <div class="col"><img class=" mt-4 ml-4 rounded-3" src="/Uploads/Creators/Images/25baf1d8-e8b5-4c7f-a3f3-b09cc538c797_img1.jfif" style="height: 150px; width: 220px;" /></div>
                            <div class="col mr-5 ">
                                <div class="form-group">
                                    <label class="font-weight-bold">Title</label>
                                    <input style="width:100%;" class="form-control" type="text" value="" placeholder="Diwali Ads" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Description</label>
                                    <textarea class="form-control" type="text" placeholder="This is my video description" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <h3 class="text-center">Section 3</h3>
                        <div class="row m-4 border border-dark">
                            <div class="col"><img class=" mt-4 ml-4 rounded-3" src="/Uploads/Creators/Images/06479d63-0677-47e8-8d60-0fbd033b7874_img2.jpg" style="height: 150px; width: 220px;" /></div>
                            <div class="col mr-5 ">
                                <div class="form-group">
                                    <label class="font-weight-bold">Title</label>
                                    <input style="width:100%;" class="form-control" type="text" value="" placeholder="Diwali Ads" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Description</label>
                                    <textarea class="form-control" type="text" placeholder="This is my video description" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <h3 class="text-center">Section 4</h3>
                        <div class="row m-4 border border-dark">
                            <div class="col"><img class=" mt-4 ml-4 rounded-3" src="/Uploads/Creators/Images/099cb01d-39ef-497c-a92f-58646c9525f9_img3.jfif" style="height: 150px; width: 220px;" /></div>
                            <div class="col mr-5 ">
                                <div class="form-group">
                                    <label class="font-weight-bold">Title</label>
                                    <input style="width:100%;" class="form-control" type="text" value="Hello diwali ads" placeholder="Diwali Ads" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Description</label>
                                    <textarea class="form-control" type="text" placeholder="This is my video description" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <h3 class="text-center">Section 5</h3>
                        <div class="row m-4 border border-dark">
                            <div class="col"><img class=" mt-4 ml-4 rounded-3" src="/Uploads/Creators/Images/06479d63-0677-47e8-8d60-0fbd033b7874_img2.jpg" style="height: 150px; width: 220px;" /></div>
                            <div class="col mr-5 ">
                                <div class="form-group">
                                    <label class="font-weight-bold">Title</label>
                                    <input style="width:100%;" class="form-control" type="text" value="" placeholder="Diwali Ads" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Description</label>
                                    <textarea class="form-control" type="text" placeholder="This is my video description" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <h3 class="text-center">Section 1</h3>
                        <div class="row m-4 border border-dark">
                            <div class="col"><img class=" mt-4 ml-4 rounded-3" src="/Uploads/Creators/Images/06479d63-0677-47e8-8d60-0fbd033b7874_img2.jpg" style="height: 150px; width: 220px;" /></div>
                            <div class="col mr-5 ">
                                <div class="form-group">
                                    <label class="font-weight-bold">Title</label>
                                    <input style="width:100%;" class="form-control" type="text" value="" placeholder="Diwali Ads" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Description</label>
                                    <textarea class="form-control" type="text" placeholder="This is my video description" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <h3 class="text-center">Section 2</h3>
                        <div class="row m-4 border border-dark">
                            <div class="col"><img class=" mt-4 ml-4 rounded-3" src="/Uploads/Creators/Images/25baf1d8-e8b5-4c7f-a3f3-b09cc538c797_img1.jfif" style="height: 150px; width: 220px;" /></div>
                            <div class="col mr-5 ">
                                <div class="form-group">
                                    <label class="font-weight-bold">Title</label>
                                    <input style="width:100%;" class="form-control" type="text" value="" placeholder="Diwali Ads" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Description</label>
                                    <textarea class="form-control" type="text" placeholder="This is my video description" readonly></textarea>
                                </div>
                            </div>
                        </div>
                        <h3 class="text-center">Section 3</h3>
                        <div class="row m-4 border border-dark">
                            <div class="col"><img class=" mt-4 ml-4 rounded-3" src="/Uploads/Creators/Images/099cb01d-39ef-497c-a92f-58646c9525f9_img3.jfif" style="height: 150px; width: 220px;" /></div>
                            <div class="col mr-5 ">
                                <div class="form-group">
                                    <label class="font-weight-bold">Title</label>
                                    <input style="width:100%;" class="form-control" type="text" value="Hello diwali ads" placeholder="Diwali Ads" readonly />
                                </div>
                                <div class="form-group">
                                    <label class="font-weight-bold">Description</label>
                                    <textarea class="form-control" type="text" placeholder="This is my video description" readonly></textarea>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div><br />

    </div>
</div>
<script src="~/js/creatorSideBar.js"></script>
